In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\alexk\Instacart Basket Analysis'

In [5]:
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data','orders_products_merged_1.pkl'))

In [6]:
#2 In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.
ords_prods_merge.groupby('department_id'). agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

#3 Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.
The result for the entire dataframe include every department, while the subset was missing some of them. The numbers themselves 
seem pretty close to each other in bpth versions.

In [ ]:
#4 Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

In [8]:
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [9]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [11]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [12]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [13]:
#5 The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [14]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean']})

                     prices
                       mean
loyalty_flag
Loyal customer    10.386336
New customer      13.294670
Regular customer  12.495717

In [15]:
# 6. The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:
ords_prods_merge.groupby('user_id').agg({'prices': ['mean']})

           prices
             mean
user_id
1        6.367797
2        7.515897
3        8.197727
4        8.205556
5        9.189189
...           ...
206205   8.909375
206206   7.646667
206207   7.313453
206208   8.366617
206209   7.058915

[206209 rows x 1 columns]

In [16]:
ords_prods_merge['Average_spending'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [17]:
ords_prods_merge.loc[ords_prods_merge['Average_spending'] < 10, 'spending_flag'] = 'Low spender'

In [18]:
ords_prods_merge.loc[ords_prods_merge['Average_spending'] >= 10, 'spending_flag'] = 'High spender'

In [19]:
ords_prods_merge['spending_flag'].value_counts(dropna = False)

Low spender     31770742
High spender      634117
Name: spending_flag, dtype: int64

In [20]:
#7 In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:

In [21]:
ords_prods_merge.groupby('user_id').agg({'days_since_prior_order': ['median']})

        days_since_prior_order
                        median
user_id
1                         20.5
2                         13.0
3                         10.0
4                         20.0
5                         11.0
...                        ...
206205                    30.0
206206                     3.0
206207                    16.0
206208                     7.0
206209                    22.0

[206209 rows x 1 columns]

In [22]:
ords_prods_merge['frequency_flag'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [23]:
ords_prods_merge.rename(columns = {'frequency_flag' : 'Median_days_since_prior_order'}, inplace = True)

In [24]:
ords_prods_merge.loc[ords_prods_merge['Median_days_since_prior_order'] > 20, 'frequency_flag'] = 'Non-frequent customer'

In [25]:
ords_prods_merge.loc[(ords_prods_merge['Median_days_since_prior_order'] <= 20) & (ords_prods_merge['Median_days_since_prior_order'] > 10), 'frequency_flag'] = 'Regular customer'

In [26]:
ords_prods_merge.loc[ords_prods_merge['Median_days_since_prior_order'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [27]:
ords_prods_merge['frequency_flag'].value_counts(dropna = False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: frequency_flag, dtype: int64

In [1]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data','orders_products_merged_2.pkl'))

NameError: name 'ords_prods_merge' is not defined